* {
  margin: 0;
  padding: 0;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 10vh;
  width: 100vw;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 4rem;
}

.main {
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 67vh;
  width: 100vw;
}

.gameCont {
  display: grid;
  grid-template-columns: repeat(3, 22vh);
  grid-template-rows: repeat(3, 10vw);
  background-color: white;
}

.box {
  border: 2px solid black;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 9rem;
}

.box:hover {
  background-color: rgb(204, 204, 204);
  cursor: pointer;
}

.bt {
  border-top: 0;
}

.br {
  border-right: 0;
}

.bl {
  border-left: 0;
}

.bb {
  border-bottom: 0;
}

.gameInfo {
  height: 66vh;
  width: 28vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
}

.imgCont img {
  width: 0;
  transition: width 1s ease-in-out;
}

.btnCont {
  height: 30vh;
  width: 38vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: bold;
}

#reset {
  cursor: pointer;
  background-color: black;
  color: white;
  font-size: 26px;
  height: 40px;
  width: 137px;
  border-radius: 10px;
}
/* for mobile */

@media only screen and (max-width: 412px) {
  * {
    margin: 0;
    padding: 0;
  }

  .main {
    /* margin-top: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 36px;
    font-size: 22px;
    font-family: "Roboto", "san serif";
  }

  .welcome {
    display: none;
  }

  .gameCont {
    display: grid;
    grid-template-columns: repeat(3, 105px);
    grid-template-rows: repeat(3, 122px);
  }

  .box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", "san serif";
    font-size: 106px;
  }

  .gameInfo {
    display: flex;
    justify-content: space-evenly;

    flex-direction: row;
    width: 100%;
  }

  .btnCont {
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  .info {
    font-size: 20px;
  }

  #reset {
    height: 27px;
    font-size: 21px;
    border-radius: 15px;
  }

  .imgCont {
    width: 50%;
  }
}
